<%= form_for(@task) do |f| %>
<div class="forms">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="forms">
  <%= f.label :details %>
  <%= f.text_field :details %>
</div>
<div class="forms">
  <%= f.label :completed %>
  <%= f.text_field :completed %>
</div>
  <%= f.submit %>
<% end %>
